*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: white;
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

html{
    scroll-behavior: smooth;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}


/*navbar CSS*/
.navbar{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

#logo{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.nav-links ul{
    display: flex;
    margin:0;
    padding:0;
}

.nav-links li{
    list-style: none;
}

.nav-links li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
}

.nav-links li:hover{
    text-decoration: underline;
}

.toggle-btn{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-btn .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}


/*hero image css*/
#hero{
    height:95vh;
}

.content{
    margin:0 10px;
    text-align:center;
    padding: 20vh 10vh;
}

.content h1, .content p{
    padding-bottom: 3rem;
}

button, button:hover{
    background-color: #689689;
    color: white;
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
}
button:hover{
    background-color: #44635a;
}

/*Fonts*/
h1{
    font-family: 'Forum', cursive;
}

h1{
    font-size: 40px;
}

p, a{
    font-family: 'Work Sans', sans-serif;
}

/*Footer CSS*/
#footer{
    background-color: #32292f;
    padding: 10vh;
    text-align: center;
}

i, #footer, h1, p, a{
    color: black;
}

i{
    padding: 0px 20px;
}



/* Screen Sizes */
@media screen and (max-width: 768px){
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-btn {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .nav-links ul {
        width: 100%;
        flex-direction: column;
    }

    .nav-links ul li {
        text-align: center;
    }

    .nav-links ul li a {
        padding: .5rem 1rem;
    }

    .nav-links.active {
        display: flex;
    }
}