*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #f9f9f9;
}


#home, #project, #about, #contact, h2{
    text-align: center;
}

#about-section{
    background:  #d7dae5;
}

#home{
    background-image: url(palm-trees.jpg);
    background-color: #d7dae5;
    background-position:center;
    background-repeat: no-repeat;
    height:100%;
    background-size: cover;
    margin-top: 8vh;
    padding: 20vh 0;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #f9f9f9;
    position: fixed;
    top:0;
    width:100%;
}

.logo{
    color:gold;
    letter-spacing: 5px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    font-size: 14px;
    text-decoration: none;
    color:black;
}

.nav-links a:hover{
    color: #b8b08d;
    font-weight: bold;

}

.menu{
    display: none;
}

.menu div{
    width:25px;
    height: 5px;
    background-color: black;
    margin: 3px;
    transition: all 0.3s ease;
}

.row2 {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

  .right-side{
      margin-right: 20vh;
      text-align: center;
  }

  .right-side p{
      text-align: justify;
  }

  .left-side{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.example{
    padding: 20px 0;
}

p, h3, button, li, nav, label{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h4{
    font-family: 'Raleway', sans-serif;
}

button{
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 30px;
}

button:hover{
    background-color: #b8b08d;
    color:white;
}

#footer{
    background-color: #32292f;
    padding: 30px;
    text-align: center;
}

i, #footer{
    color: white;
}

i{
    padding: 0px 20px;
}

#contact-form{
    padding: 15vh 0;
    display:flex;
    justify-content: center;
}

#form{
    padding: 5vh 5vh;
    background-color: white;
    border-radius: 25px;
    box-shadow:5px 10px 8px #32292f;
    text-align: center;
}

.form-bg{
    background-image: url(palm-trees.jpg);
    background-color: #d7dae5;
    background-position:center;
    background-repeat: no-repeat;
    height:100%;
    background-size: cover;
}

input, textarea{
    display:block;
    margin-bottom: 20px;
    width: 300px;
}

.cover{
    background-image: url(single-palm-tree.jpg);
}

input[type=text], input[type=email], textarea{
    border:none;
    border-bottom: 2px solid #32292f;
    font-size: 15px;
    padding: 10px
}

#submit{
    background-color: #d3d0c2;
    padding: 10px;
    border: none;
    border-radius: 30px;
    color:white;
}

#submit:hover{
    background-color: #ccb448;
    color:white;
}

.gold-line{
    width: 200px;
    height:5px;
    background-color: #ccb448;
    display: inline-block;
}

@media screen and (max-width: 768px){
    /*body{
        overflow: hidden;
    }*/
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #d7dae5;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);  
    }
    .nav-links li{
        opacity: 0;
    }
    .menu{
        display: block;
    }
    .row2{
        display: block;;
    }

    .column{
        flex: 100%
    }

    .right-side{
        margin: 0 15vh;
    }
    .ex-title{
        display: none;
    }
    .example-title{
        text-align: center;
    }

}

@media screen and (min-width: 768px){
    .example-title{
        display:none;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        tranform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
   
}